<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'mi_app/css/styles.css' %}">

</head>

<body>
    <button id="toggle-theme">🌙</button>
    <!-- Loader -->
    <div id="loader">
        <svg viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="45" stroke="#00ff99" stroke-width="4" fill="none" />
        </svg>
        <p>Cargando...</p>
    </div>

    <!-- Contenido principal -->
    <div id="content">
        <h1>Bienvenido a Mi Página</h1>
        <p class="intro">Este es mi portafolio personal hecho con <strong>Django</strong>.</p>
        <div style="text-align:center;">
            <a href="{% url 'portafolio' %}" class="btn-portafolio">Ver Portafolio</a>
            <a class="btn-portafolio">Redes sociales</a>
        </div>
    </div>

    <!-- Scripts -->

    <!-- Librería GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <!-- Tu script -->
    <script src="{% static 'mi_app/js/scripts.js' %}"></script>
    

</body>
</html>
