<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Portafolio</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'mi_app/css/styles.css' %}">

</head>
<body>
    <button id="toggle-theme">🌙</button>
    
    <div class="sidebar" id="sidebar">
    <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
        <ul>
            {% for item in menu_items %}
            <li><a href="{{ item.url }}">{{ item.nombre }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <h1 class="page-title">Mi Portafolio</h1>
    <div class="container">
        {% for proyecto in proyectos %}
        <div class="card">
            <h2>{{ proyecto.titulo }}</h2>
            <p>{{ proyecto.descripcion }}</p>
            {% if proyecto.link %}
            <a href="{{ proyecto.link }}" target="_blank">Ver proyecto</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <!-- GSAP desde CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <script src="{% static 'mi_app/js/scripts.js' %}"></script>
</body>
</html>
